
/* класс тела страницы чата */
.bodyStyleA00 { font-family:Arial,monospace; background-color: #FFFFFF; margin:0; }
.bodyStyleA01 { font-family: Verdana, sans-serif; font-size: 14px; font-style: normal; background-color: #FFFFF0; margin:0; }
.bodyStyleA02 { font-family: Verdana, sans-serif; font-size: 14px; font-style: normal; background: linear-gradient(#BBFFBB, white); margin:0; }
.bodyStyleD00 { font-family: Verdana, sans-serif; font-size: 14px; font-style: normal; background: linear-gradient(#CCFFFF, white); margin:0; }

/*  класс параграфов - всех отдельных строк чата */
 p { 
	margin:0px;
 }

/* класс окошка вопроса */
 .dw {
	padding: 0px;
	background-color:#FFFFD0;
	border-radius: 8px 8px 8px 8px; 
	margin: 2px;
	border: 1px solid #FFFFC0; 
	/* border: 1px solid #000; */
 }


 /* базовые классы юзеров и ботов */
.UserStyle {color:black; }
.BotStyle {color:green;  }


/* классы юзеров и ботов для разных стилей ы*/

/* normal */
.MyNickStyle1 { color:red; }
.MyMesStyle1 { color:#AA0000; }

.BotStyle1 { color:green; }
.UserStyle1 { color:black; cursor: pointer; }
.UserStyle1:hover {text-decoration: underline; color:navy; }

.MesStyle1 { color:black }
.QuesStyle1 { color:#000080; }

/* twix - колонки с контрастным цветом: */
.UserStyle2 { color:blue; cursor: pointer; }
.QuesStyle2 { color: #8B3A3A; font-weight:600; padding-left: 20%; }

/* DarkSusl - всякие извращения */
.QuesStyle3 { color: black; text-shadow: 1px 2px yellow; padding-left: 10%; } 

/* DC-style */
.UserStyle4 { color:#000080; cursor: pointer; }
.MesStyle4 { color:#000080 }
.BotStyle4 { color:black; font-weight:600; }
.QuesStyle4 { color: #000080; padding-left: 10%; }


/* класс скрываемых сообщений (для игноров) */
.HiddenMes {
	color:white;
	background-color:#white;
	font: 10px Tahoma;
}

.HiddenMes a { color:white; } /* стиль ссылок в скрываемых сообщениях тоже другой */
.HiddenNick { color:pink; cursor: pointer; } /* и стиль ника... */
.HiddenNick:hover {text-decoration: underline; color:navy; }


/*  классы МЕНЮ. Взято с http://javascriptt.ru/menu20.html */

.horizontalcssmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.horizontalcssmenu ul li{
position: relative;
display: inline;
float: left;

}

/*Top level menu link items style*/
.horizontalcssmenu ul li a{
display: block;
/* width: 60px; /*Width of top level menu link items*/ 
padding: 2px 8px;
border: 1px solid #202020;
border-left-width: 0;
text-decoration: none;
/*background: url(menubg.gif) center center repeat-x;*/
color: black;
font: bold 13px Tahoma;
}
	
/*Sub level menu*/
.horizontalcssmenu ul li ul{
left: 0;
top: 0;
border-top: 1px solid #202020;
position: absolute;
display: block;
visibility: hidden;
z-index: 100;
}

/*Sub level menu list items*/
.horizontalcssmenu ul li ul li{
display: inline;
float: none;
}

/* Sub level menu links style */
.horizontalcssmenu ul li ul li a{
/* width: 160px; /*width of sub menu levels*/
font-weight: normal;
padding: 2px 5px;
background: #e3f1bd;
border-width: 0 1px 1px 1px;
}

.horizontalcssmenu ul li a:hover{
/* background: url(menubgover.gif) center center repeat-x; */
}

.horizontalcssmenu ul li ul li a:hover{
background: #cde686;
}

.horizontalcssmenu .arrowdiv{
position: absolute;
right: 0;
/* background: transparent url(menuarrow.gif) no-repeat center left; */
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}